/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

body{
    margin: 0;
    padding: 0;

    /*Global font*/
    font-family: 'Cal Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;

}


/*Heading content*/
header{
    background-color: #344E41;
    color: white;
    position: fixed;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    top: 0;
    
}

header h1{
    text-align: center;
    font-size: 20px;
}

svg{
    position: fixed;
    margin-inline: 20px;
}

.search{
    position: fixed;
    display: flex;
    right: 50px;
    top: 0;
    font-style: italic;

    svg{
        padding-left: 45px;
    }

}

/*Hero section*/

.hero{
    display: flex;
}

.heroImage{
    width: 50px !important;
    height: auto !important;
    display: block;
    
}